@media (min-width: 768px) {
  .amazonArray {
    width: calc(33.33333% - 2em);
  }
}
.amazonArray {
    height: 200px;
    background: #eee;
    margin: 1em;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #bbb;
    padding: .75em;
}
.amazonArray .col-md-6 {
    padding: 0;
}
.amazonArray .amImg {
    background: #FFF;
    border-radius: 4px;
    border: 1px solid #bbb;
    box-shadow: 1px 1px 2px #bbb;
}
.amazonImage {
    max-height: 100px;
    width: auto;
    margin: 0 auto;
    display: block;
}

.formattedPrice {
  font: bold;
  text-align: center;
  display: inline-block;
}

.amazonSearchBar {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.priceBanner {
    width: 40%;
    margin: 0 auto;
    background: #337AB7;
    height: 5em;
    position: absolute;
    right: 1em;
    top: -.75em;
    padding-top:.75em;
    color: #eee;
    text-shadow: 2px 1px 1px #333;
}
.priceBanner:after {
    border-right: 3.75em solid #337AB7;
    border-bottom: 2em solid transparent;
    position: absolute;
    right: 0;
    content: '';
    bottom: -1.25em;
    height: 3em;
}
.priceBanner:before {
    border-left: 3.75em solid #337AB7;
    border-bottom: 2em solid transparent;
    position: absolute;
    left: 0;
    content: '';
    bottom: -1.25em;
    height: 3em;
}
.amazonTop {
  background-color: #eee;
  color:#337AB7;
  box-shadow: 2px 2px 5px #bbb;
}
@media (max-width: 767px) {
  .amazonTop {
    background-color: #337AB7;
    color:inherit;
  }
  .amazonArray {
    width: 95%;
    margin: 1em 2.5%;
  }
  .amazonRow.col-md-12 {
    text-align: center;
    padding-top: .25em;
  }
  .formattedPrice.col-md-6 {
    width: 100%;
  }
  .priceBanner {
    right: -0.75em;
    left: -.75em;
    width: calc(100% + 1.5em);
    top: 3em;
    height: 3em;
  }
  .priceBanner:before, .priceBanner:after {
    display: none;
  }
}