.cardImgView {
  margin-top: 2%;
  margin-left: 41%;
  height: 15%;
  margin-bottom: 2%;
}

.viewCardName {
  font-size: 2em;
  text-align: center;
  border-bottom: 1px solid rgba(123, 124, 125, 0.31);
  padding-bottom: 2%
}

.left{
  font-size: 1em;
  margin-top: 1%;
  margin-left: 25%;
}

.right{
  font-size: 1em;
  margin-top: 1%;
}

.fieldName text{
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.fieldName{
  margin-bottom: 1%;
}