.viewCardName{
  font-size: 25px;
}

.viewCardType {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 20px;
}

.cardView {
  margin-top: 10px;
}

.viewCardDigits {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 20px;
}