#progressBar{
  width: calc(1456/3000*100%);
}

.progress-bar {
  background-color: rgb(119, 221, 119);
}

/*.cardName:hover{
  color: red;
  cursor: pointer;
}*/

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 280px;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  max-height: 500px;
  list-style-type: none;
  overflow-y: auto;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--focused {
  background-color: #0C7EAF;
  color: #fff;
}

.suggestion-content {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}

.suggestion img {
  width: 60px;
  height: 60px;
}

.suggestion .name{
  width: 150px;
  height: auto;
  float: right;
}

.highlight {
  color: #ee0000;
  font-weight: bold;
}

.react-autosuggest__suggestion--focused .highlight {
  color: #120000;
}

.mm-popup__close {
  display: none;
}

.buttonGroup {
  float: right;
}

.modal-dialog {
  width: 75%;
}

.modal .container {
    width: 100%;
    padding: 0 30px;
}

.left-button button {
    float: left;
}

.modal-footer .btn-default {
    width: 100%;
}

.require {
  text-align: right;
}

.numCards{
  float: right;
  margin-top: 0em;
}

.searchHeader{
 border:none; 
}

.addCard{
  color: rgba(128, 128, 128, 0.38);
  transition:color .2s linear;
}


.addCardIcon{
  margin-top: 16%;
  margin-left: 42%;
}
.addACard{
  margin-left: 30%;
}

.addCard:hover h4{
  margin-top: 0px;
  transition: margin-top 1.2s linear;
}

.addCard:hover{
  color: transparent;
  transition: .2s linear;
}

.addCard:hover {
  color: d;
  transition: .2s linear;
  margin-top: 0px;
}

.addCard:hover #addQuick{
  position: absolute;
  color: black;
  transition: color .2s linear;
}

.addCard:hover #addDetailed{
  position: absolute;
  color: black;
  transition: color .2s linear;
}

#addQuick{
  position: absolute;
  color: transparent;
  transition: color .2s linear;
  margin-top: -11%;
  margin-left: 35%;
}

#addQuick:hover{
  cursor: pointer;
}

#addDetailed{
  position: absolute;
  color: transparent;
  transition: color .2s linear;
  margin-left: 31%;
  margin-top: 10%;
}

#addDetailed:hover{
  cursor: pointer;
}