@import url('https://fonts.googleapis.com/css?family=Oswald');

body{
  background-color: #f6f7fa;
  font-family: 'Oswald', sans-serif;
  width: 100%;
}

.sidebar {
  background:#fbfbfb;
  border-right:1px solid #e5e5e5;
  position:fixed;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  width:70px;
  overflow:visible;
  -webkit-transition:width .2s linear;
  transition:width .2s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  z-index:1;
}

.sidebar:hover{
  width:250px;
  overflow:visible;
}

#page-content-wrapper{
  padding-left: 70px;
  position: absolute;
  width: 100%;
  transition: padding-left .2s linear;
}

#page-content-wrapper.menuDisplayed{
  padding-left: 250px;
  transition: padding-left .2s linear;
  opacity: .2;
}

.fa{
  width: 58px;
}


.sidebar-text{
  display: inline-block;
  color: transparent;
  transition: color .2s linear;
  position: absolute;
}


.sidebar li{
  margin-top: 2em;
}
.sidebar h4{
  font-size: 1.3em;
}


.sign-out{
  height: 200px; 

} 

.sidebar-textmenuDisplayed{
  position: absolute;
  color: black;
  transition: color .2s linear;
  display: inline-block;
}

.nav-title{
  color:transparent;
  text-align: center;
  transition: color .2s linear;
}
.nav-titlemenuDisplayed{
  color:black;
  transition: color .2s linear;
  text-align: center;
}

.page-header{
  background-color: rgb(246, 247, 250);
  margin-left: .3em;
  font-size: 4em;
}

.cards {
  background-color: #f6f7fa !important;
  width: 20em;
  float: left;
  height: 23em;

}

.cards button{
  background-color: transparent;
  border-width: 0px;
}
.cards button:hover{
  background-color: transparent;
  border-width: 0px;
}

.cards-panel{
  margin-left: 1em;
}

.cards-panel-header{
 display: inline-block;
}

#cards-panel-add{
  float: right;
  margin-top: 1%;
  margin-left: 11em;
}

.removeButton{
  float: right;
  margin-right: -3em;
  margin-top: -1em;
  color:red;
  cursor: pointer;
}
i.fa.fa-spinner.fa-spin.fa-3x.fa-fw{
  width:90px;
  margin: 5em auto;
  display: block;
}
.fa-spinner:before{
  font-size: 2em;
}
