@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

.btn-primary {
  background-color: #DD4B39;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: black;
  border-color: #a07e49;
}


#menu-7 .navbar,
#menu-7 .nav-dropdown-sm,
#menu-7 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-7 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}


#header5-9 .mbr-section-lead {
  color: #9c9a9a;
}
#msg-box8-e .mbr-section-title,
#msg-box8-e p {
  color: #fff;
}
#header3-h .mbr-section-title,
#header3-h .mbr-section-subtitle {
  text-align: center;
}
#features4-g .card-subtitle {
  color: #bcbcbc;
}

.navbar-dropdown {
  left: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.45s ease;
  z-index: 1030; 
}

.navbar-fixed-top {
  position: fixed; 
}

.bg-color.transparent {
  background: none !important; 
}

.navbar-short .navbar-brand {
  color:#fff;
  padding: 0.625rem 0; 
}


.container {
  position: relative; }

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 0.75rem 2.1875rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }




.lead p {
  font-size: 1.07rem;
  font-weight: 300;
  margin-bottom: 2.3125rem; }

.article .lead p, .article .lead ul, .article .lead ol, .article .lead pre, .article .lead blockquote {
  margin-bottom: 0; }



.display-1 {
  font-size: 4.39rem;
  font-weight: 600;
  letter-spacing: -2px;
  margin-bottom: 0.2843em;
  margin-top: 3.9rem; }

.display-2 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 1.5625rem;
  margin-top: 3.5rem; }

.display-3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 3.2rem;
  margin-bottom: 2rem; }









.mbr-section {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.mbr-section-full {
  display: table;
  height: 100vh;
  padding-bottom: 0;
  padding-top: 0;
  table-layout: fixed;
  width: 100%; }
  .mbr-section-full > .mbr-table-cell {
    width: 100%; }



.mbr-section-title {
  margin-top: 0; }





.mbr-section-nopadding {
  padding-top: 0;
  padding-bottom: 0; }





.mbr-section-hero .mbr-section-lead {
  color: #fff;
  font-family: Lora;
  font-size: 1.5rem;
  font-style: italic;
  margin-top: -1em; }








  .mbr-section-hero .mbr-section-btn .btn {
    font-size: 0.75rem !important;
    line-height: 1.5;
    padding: 0.75rem 2.1875rem; } 


.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; }
  .mbr-overlay ~ * {
    z-index: 2; }




.mbr-table-cell {
  display: table-cell;
  float: none;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  vertical-align: middle; }




.hidden {
  visibility: hidden; }




/*-------

   Cards

-------*/
.mbr-cards-row {
  position: relative;
  margin-left: 0 !important;
  margin-right: 0 !important; }
.mbr-cards-col {
  padding-left: 0;
  padding-right: 0;
  padding-top: 120px;
  padding-bottom: 120px; }
  @media (max-width: 767px) {
    .mbr-cards-col {
      padding-top: 60px;
      padding-bottom: 60px; } }
.mbr-cards .striped .card {
  padding-left: 10%;
  padding-right: 10%; }
.mbr-cards .striped .mbr-cards-col:nth-child(2n+1) {
  background: #2e2e2e;
  color: #fff; }
  .mbr-cards .striped .mbr-cards-col:nth-child(2n+1) .card-subtitle {
    color: #979797; }
.mbr-cards .card {
  text-align: center;
  border: 0;
  background: none;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0; }
  @media (max-width: 991px) {
    .mbr-cards .card {
      padding-left: 0;
      padding-right: 0; } }
@media (min-width: 992px) {
  .mbr-cards-row {
    display: table;
    table-layout: fixed;
    width: 100%; }
    .mbr-cards-row::after {
      display: none; }
  .mbr-cards-col {
    display: table-cell;
    float: none; }
  .mbr-cards > .container {
    margin: 0;
    max-width: none;
    padding: 0;
    width: 100%; } }
.mbr-cards .card-block {
  background: none;
  padding: 0; }
.mbr-cards .card-img-top {
  border-radius: 0;
  width: auto;
  max-width: 100%; }
.mbr-cards .card-img + .card-block {
  padding-top: 2.3125rem; }
.mbr-cards .card-text {
  margin: 0; }
  .mbr-cards .card-text + .card-btn {
    padding-top: 1.375rem; }
.mbr-cards .card-title {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1.2825; }
  .mbr-cards .card-title + * {
    padding-top: 1rem; }
  .mbr-cards .card-title + .card-btn {
    padding-top: 1.4375rem; }
.mbr-cards .card-subtitle {
  margin-bottom: 0;
  font-style: italic;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: "Lora";
  color: #5b5b5b;
  margin-top: -1rem;
  line-height: 1.7857;
  padding-bottom: 1rem; }
  .mbr-cards .card-subtitle + .card-btn {
    padding-top: 0.3125rem; }
.mbr-cards .iconbox {
  border-style: solid;
  border-color: #f2f2f2;
  border-width: 1px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 500px;
  display: inline-block; }
  .mbr-cards .iconbox > .mbr-iconfont {
    line-height: inherit; }





/*-------

   Small footer

-------*/
.mbr-small-footer {
  background: #323232;
  color: #acacac;
  font-size: 0.8125rem;
  padding: 1.75rem 0; }
  .mbr-small-footer p {
    margin-bottom: 0; }

.mbr-small-footer a {
  color: #c0a375; }
  .mbr-small-footer a:hover {
    text-decoration: none; }

/*-------

   Arrow

-------*/
@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  65% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  to {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
@keyframes floating-arrow {
  from {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  65% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  to {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
@-webkit-keyframes floating-arrow-up {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  25% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  75% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
@keyframes floating-arrow-up {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  25% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  75% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); } }
.mbr-arrow {
  bottom: 48px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%; }
  @media (max-width: 991px) {
    .mbr-arrow {
      bottom: 31px; } }
  @media (max-width: 320px) {
    .mbr-arrow {
      bottom: 21px; } }
  @media all and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .mbr-arrow {
      bottom: 31px; } }
  .mbr-arrow a {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    height: 46px;
    outline-style: none !important;
    position: relative;
    text-decoration: none;
    transition: all .3s ease-in-out;
    width: 46px; }
    .mbr-arrow a:hover {
      background: #2d2d2d; }
  .mbr-arrow-icon {
    display: block; }
    .mbr-arrow-icon::before {
      content: "\203a";
      display: inline-block;
      font-family: serif;
      font-size: 32px;
      line-height: 1;
      font-style: normal;
      left: 4px;
      position: relative;
      top: 6px;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
  .mbr-arrow-floating .mbr-arrow-icon {
    -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
    animation: floating-arrow 1.6s infinite ease-in-out 0s; }

.mbr-arrow-up {
  bottom: 25px;
  right: 90px;
  position: fixed;
  text-align: right;
  z-index: 5000; }
  @media (max-width: 991px) {
    .mbr-arrow-up {
      bottom: 31px; } }
  @media (max-width: 320px) {
    .mbr-arrow-up {
      bottom: 21px; } }
  @media all and (device-width: 320px) and (device-height: 568px) and (orientation: portrait) {
    .mbr-arrow-up {
      bottom: 31px; } }
  .mbr-arrow-up a {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    height: 46px;
    outline-style: none !important;
    position: relative;
    text-decoration: none;
    transition: all .3s ease-in-out;
    width: 46px;
    cursor: pointer; }
    .mbr-arrow-up a:hover {
      background: #2d2d2d; }
  .mbr-arrow-up-icon {
    display: block; }
    .mbr-arrow-up-icon::before {
      content: "\203a";
      display: inline-block;
      font-family: serif;
      font-size: 32px;
      line-height: 1;
      font-style: normal;
      position: relative;
      top: 6px;
      left: -4px;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  .mbr-arrow-up:hover .mbr-arrow-up-icon {
    -webkit-animation: floating-arrow-up 1.6s ease-in-out infinite 0s;
    animation: floating-arrow-up 1.6s ease-in-out infinite 0s; }

@media (max-width: 768px) {
  .mbr-arrow-up {
    right: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    bottom: 15px; } }
@media (min-width: 768px) {
  .mbr-right-padding-md-up {
    padding-right: 85px; } }

.mbr-valign-top {
  vertical-align: top; }

.form-asterisk {
  font-family: initial;
  position: absolute;
  top: -2px;
  font-weight: normal; }

.row-sm-offset {
  margin-left: -0.625rem;
  margin-right: -0.625rem; }
  .row-sm-offset > * {
    padding-left: 0.625rem;
    padding-right: 0.625rem; }

@-webkit-keyframes btnCircleLoading {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }
