/* Color Scheme */
body .background {
  height: 100%;
  width: 100%;
  background-color: #3498db;
  background-image: -webkit-linear-gradient(left, #3498db, #0969A2);
  background-image: -moz-linear-gradient(left, #3498db, #0969A2);
  background-image: -o-linear-gradient(left, #3498db, #0969A2);
  background-image: -ms-linear-gradient(left, #3498db, #0969A2);
  background-image: linear-gradient(left, #3498db, #0969A2);
  font-family: 'Itim', cursive;
}
body .logo {
  height: 88px;
  width: 275px;
  margin: 15px 30px;
  background-image: url("http://worldartsme.com/images/butter-clipart-1.jpg");
  background-repeat: no-repeat;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
body h3 {
  margin: 32px 80px;
  font-size: 30px;
  color: #2980b9;
}
body input {
  margin: 30px;
  height: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 28px;
  border: 3px solid #FFD500;
  background-color: #3498db;
  background-image: -webkit-linear-gradient(left, #3498db, #0969A2);
  background-image: -moz-linear-gradient(left, #3498db, #0969A2);
  background-image: -o-linear-gradient(left, #3498db, #0969A2);
  background-image: -ms-linear-gradient(left, #3498db, #0969A2);
  background-image: linear-gradient(left, #3498db, #0969A2);
  color: #FFD500;
}
body input::-webkit-input-placeholder {
  /* Chrome */
  color: #FFD500;
}
body .tableContainer {
  background-color: rgba(236, 240, 241, 0.7);
  opacity: 1.5%;
  width: auto;
  height: auto;
  padding: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 50px;
}
body .table {
  margin: 0px;
  color: #2980b9;
  font-size: 20px;
}
body {
  overflow-x: hidden;
}
/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 250px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #f1c40f;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}
/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #2980b9;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #2980b9;
  background: #FFD500;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #2980b9;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #2980b9;
  background: none;
}
@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
